<div class="container">
  <mat-card class="photo-container">
    <img class="photo" mat-card-image [src]="headerImage" alt="photo">
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card class="card-container">
    <mat-card-header class="header-container">
      <mat-card-title>Dados para treino experimental</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content-container">
      <form [formGroup]="forms" (ngSubmit)="submitForms()" class="form-container">
        <mat-form-field class="example-full-width">
          <mat-label>Diga qual seu nome</mat-label>
          <input matInput placeholder="Ex. Ricardo" [formControl]="forms.controls.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Diga sua idade</mat-label>
          <input matInput type="number" [formControl]="forms.controls.age" (ngModelChange)="changeAge($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Escolha a data</mat-label>
          <input  matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" (dateChange)="changeDateInput($event)" [formControl]="forms.controls.date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selecione horários disponíveis</mat-label>
          <mat-select [formControl]="forms.controls.hour">
            <mat-option *ngFor="let option of horas_disponiveis" [value]="option"> Treino das {{option}} horas</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Já treinou antes?</mat-label>
          <mat-select [formControl]="forms.controls.trainingStory">
            <mat-option value="Nunca treinei">Nunca treinei</mat-option>
            <mat-option value="Treinei alguns mêses">Alguns Mêses</mat-option>
            <mat-option value="Um ano ou mais">Um ano ou mais</mat-option>
            <mat-option value="Dois anos ou mais">Dois anos ou mais</mat-option>
            <mat-option value="Mais de três anos">Mais de três anos</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Agendar treino</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>